<header>
    <div class="header-container">
        <nav>
            <ul>
                <li><a href="../challenge_pages/challenge_index.html">About</a></li>
                <li><a href="../challenge_pages/datasets.html">Datasets</a></li>
                <li><a href="../challenge_pages/rules.html">How to participate</a></li>
                <li><a href="../challenge_pages/leaderboard.html">Leaderboard</a></li>
                <li><a href="../challenge_pages/terms.html">Terms and Conditions</a></li>
            </ul>
        </nav>
    </div>
</header>